<a href="https://colab.research.google.com/github/Harinibestha/hello-world/blob/master/Python%20Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
##lambda function

square=lambda x,y:x**y
print(square(2,3))

8

In [5]:
##map function
square1=[2,5,6,7,8]
square2=map(lambda x:x**2,square1)
print(list(square2))

[4, 25, 36, 49, 64]

In [10]:
##iloc and loc method

import pandas as pd
from pandas import Series, DataFrame
import numpy as np


d={'price':[19,22,13,54,65],'sales':[600,756,587,859,990]}
frame1=DataFrame(d)
print(frame1)

frame1.rename(columns={'price':'Base_price', 'sales':'unit sales'})

   price  sales
0     19    600
1     22    756
2     13    587
3     54    859
4     65    990

   Base_price  unit sales
0          19         600
1          22         756
2          13         587
3          54         859
4          65         990

In [11]:
frame1.loc[[3,0]]['price']

3    54
0    19
Name: price, dtype: int64

In [12]:
frame1.iloc[[4]]['price']

4    65
Name: price, dtype: int64

In [14]:
df1=pd.DataFrame({'price':[14,32,43],'sales':[400,456,526]},index=list('abc'))
print(df1)

   price  sales
a     14    400
b     32    456
c     43    526

In [15]:
df1.loc['a']

price     14
sales    400
Name: a, dtype: int64

In [19]:
df1.iloc[0]

price     14
sales    400
Name: a, dtype: int64

In [20]:
##loc and iloc also allow you to select both rows and columns from a DF

df1.loc[['a','b'],'price']

a    14
b    32
Name: price, dtype: int64

In [22]:
df1.iloc[[0,2]]

   price  sales
a     14    400
c     43    526

In [29]:
print(df1.iloc[:,1])

a    400
b    456
c    526
Name: sales, dtype: int64

In [35]:
print(df1.loc[:,['price','sales']])

   price  sales
a     14    400
b     32    456
c     43    526

In [36]:
##a DF can be created using dictionaries

store=['walmart','safeway','total','trader_joe']
sales=[1000,3400,2400,5618]
visitors_per_hr=[139,132,78,73]
location=['AI','UT','TX','AR']
list_lab=['store','sales','visitors_per_hr','location']
list_cols=[store,sales,visitors_per_hr,location]
zipped=list(zip(list_lab,list_cols))
print(zipped)

[('store', ['walmart', 'safeway', 'total', 'trader_joe']), ('sales', [1000, 3400, 2400, 5618]), ('visitors_per_hr', [139, 132, 78, 73]), ('location', ['AI', 'UT', 'TX', 'AR'])]

In [39]:
data=dict(zipped)
final=pd.DataFrame(data)
print(final)

  location  sales       store  visitors_per_hr
0       AI   1000     walmart              139
1       UT   3400     safeway              132
2       TX   2400       total               78
3       AR   5618  trader_joe               73